.Rproj.user
.Rhistory
.RData

.Rbuildignore

*.Rproj

.Rapp.history

*.log

*.fls

*.fdb_latexmk

*.aux

inst/doc/makefile

*.vim

inst/examples/D0-E100-F0-G0-R0-S0-M0-cod/
inst/examples/D1-E100-F0-G0-R0-S0-M0-cod/
inst/examples/D0-E0-F0-G0-R0-S0-M0-cod/
inst/examples/D1-E0-F0-G0-R0-S0-M0-cod/

inst/ms/figure/*
inst/ms/ss3sim-ms.pdf

vignettes/figure/
vignettes/ss3sim-vignette.aux
vignettes/ss3sim-vignette.tex
vignettes/ss3sim-vignette.toc
vignettes/ss3sim-vignette.pdf
vignettes/ss3sim.Rnw
vignettes/ss3sim-vignette.out
vignettes/cache/
