.DS_Store
.RData
.Rhistory
.Rproj.user
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.pdfsync
*.Rapp.history
*.vim
doc
inst/doc
inst/ms/figure/*
inst/ms/file-structure.eps
inst/ms/manuscript.tex
inst/ms/ss3sim-ms.pdf
Meta
Session.vim
tags
vignettes/auto
vignettes/cache/
vignettes/figure/
vignettes/introduction_cache/
vignettes/introduction_files/
vignettes/knit
vignettes/ss3sim-vignette.aux
vignettes/ss3sim-vignette.tex
vignettes/ss3sim-vignette.toc
vignettes/ss3sim-vignette.pdf
vignettes/ss3sim-vignette.blg
vignettes/ss3sim-vignette.bbl
vignettes/ss3sim-vignette.out
