.Rproj.user
.Rhistory
.RData
*.Rapp.history
*.log
*.fls
*.fdb_latexmk
*.aux
*.vim
inst/ms/figure/*
inst/ms/ss3sim-ms.pdf
vignettes/figure/
vignettes/ss3sim-vignette.aux
vignettes/ss3sim-vignette.tex
vignettes/ss3sim-vignette.toc
vignettes/ss3sim-vignette.pdf
vignettes/ss3sim-vignette.blg
vignettes/ss3sim-vignette.bbl
vignettes/ss3sim-vignette.out
vignettes/cache/
vignettes/auto
inst/ms/manuscript.tex
*.bbl
*.blg
tags
Session.vim
*.pdfsync
*.pdf
inst/ms/file-structure.eps
vignettes/knit
inst/doc
vignettes/introduction_cache/
vignettes/introduction_files/
inst/doc/
