.background {
  color: #F8F8F8;
}

/*numeric:*/
.num {
  color: #1E1E1E;
}

/*string:*/
.str {
  color: #DD1144;
}

/*comment:*/
.com {
  color: #999988;
}
.opt {
  color: #1E1E1E;
}
.std {
  color: #1E1E1E;
}

.kwa {
  color: #295F94;
  font-weight: bold;
}

/*<-:*/
.kwb {
  color: #000000;
}

/*argument names:*/
.kwc {
  color: #1E1E1E;
}

/*function name:*/
.kwd {
  color: #3977b2;
  font-weight: bold;
}
