# document and style ss3sim using reusable workflow
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'R/**'
      - 'tests/**'
name: call-doc-and-style-r
jobs:
  call-workflow:
    uses: nmfs-ost/ghactions4r/.github/workflows/doc-and-style-r.yml@main
