---
  name: Weekly codeowners cleanup
  on:
    workflow_dispatch:
    schedule:
      - cron: '3 2 1 * *'
  
  permissions:
    issues: write
  
  jobs:
    cleanowners:
      name: cleanowners
      runs-on: ubuntu-latest
  
      steps:
        - name: Run cleanowners action
          uses: github/cleanowners@v1
          env:
            GH_TOKEN: ${{ secrets.GH_TOKEN }}
            REPOSITORY: ss3sim/ss3sim
